<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  
<form id="Ingreso" method="POST" action="/login">
      <h1>Iniciar Sesión</h1>
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Iniciar sesión</button>
    <a href="/registro" class="link">Registrarse.</a>
</form>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <p >{{ message }}</p>
      {% endfor %}
    {% endwith %}
</body>
</html>
